[Desktop Entry]
Version=1.0
Type=Application
Name=SENTINEL X DEFENSE SUITE
Comment=Plataforma defensiva de monitoreo y forense de red
Exec=Decktroy
Icon=utilities-terminal
Terminal=false
Categories=Network;Security;
